@(resetForm: Form[(String,String,String,String)])(implicit session: Session, requestHeader: RequestHeader, messages: Messages, flash: Flash)

@import helper.CSRF

@main("Change Password"){

    <a class="btn btn-primary" href="/profile" role="button">Cancel</a>
    <br><br><br>
    <h1>Change Password</h1>
    <br><br>


    @helper.form(action = routes.AuthController.changePassword) {
        @CSRF.formField

        @if(flash.get("passwordError")) {
            <div class="container">
                <div class ="alert alert-danger">
                @flash.get("passwordError")
                </div>
            </div>
        }

        @helper.inputText(resetForm("email"), 'class -> "form-control", '_help -> "", 'readonly -> true, '_label -> "Username")
        @helper.inputPassword(resetForm("password"), 'class -> "form-control", '_help -> "",'_label -> "Old Password", 'placeholder -> "Old Password")
        @helper.inputPassword(resetForm("newPassword"),'class -> "form-control", '_help -> "",'_label -> "New Password", 'placeholder -> "New Password")
        @helper.inputPassword(resetForm("confirmPassword"), 'class -> "form-control", '_help -> "",'_label -> "Confirm Password", 'placeholder -> "Confirm Password")
        <input type ="submit" value="Change Password" class="btn btn-success"/>
    }

}