@(emailForm:Form[EmailSend])(implicit requestHeader: RequestHeader, messages: Messages, flash: Flash)
@import helper.CSRF
@helpers.loginlayout("Forgotton Password"){

    <a class="btn btn-primary" href="/" role="button">Cancel</a>
    <br>
    <br>
<h1>Forgot My Password</h1>
    <br>
    <br>
    <p>If you are already member but you have forgotton your password, enter your email address below.
        We will then resend a password to your registered email address for you to login with. If you have not yet registered, select <b>'cancel'</b>
        to return to the login screen where you can register and sign up for an account.
    </p> <br>


    @if(emailForm.hasGlobalErrors){
        <div class="container">
            <div class ="alert alert-danger">
            @emailForm.globalError.map { error =>
                @error.message
            </div>
        </div>
     }
    }

    @if(flash.get("email")){
        <div class="container">
            <div class ="alert alert-success">
            @flash.get("email")
            </div>
        </div>
    }

    @helper.form(action = routes.AuthController.sendEmail){
        @CSRF.formField
        @helper.inputText(emailForm("email"), '_label -> "Email Address", 'class -> "form-control", 'placeholder -> "Enter Email Address", '_help -> "")
        <input type ="submit" value="Send" class="btn btn-success"/>
    }
}

