@(setNewPassword: Form[(String,String,String)])(implicit requestHeader: RequestHeader, messages: Messages, flash: Flash, session: Session)
@import helper.CSRF

@helpers.loginlayout("Set New Password"){
    <h1>Set New Password</h1>
    <br><br>

    @helper.form(action = routes.AuthController.setNewPasswordFromEmailForm) {
        @CSRF.formField

        @if(flash.get("passwordError")) {
            <div class="container">
                <div class ="alert alert-danger">
                @flash.get("passwordError")
                </div>
            </div>
        }
        @helper.inputPassword(setNewPassword("guid"), 'class -> "form-control", '_help -> "",'_label -> "Unique Key", 'placeholder -> "Unique Key")
        @helper.inputPassword(setNewPassword("newPassword"),'class -> "form-control", '_help -> "",'_label -> "New Password", 'placeholder -> "New Password")
        @helper.inputPassword(setNewPassword("confirmPassword"), 'class -> "form-control", '_help -> "",'_label -> "Confirm Password", 'placeholder -> "Confirm Password")
        <input type ="submit" value="Change Password" class="btn btn-success"/>
    }
}
